*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header div h1{
    background-color: aquamarine;
    text-align: center;
    font-size: 75px;
    padding: 15px;
}

body{
    background-color: blue;
}


